In [1]:
import pandas as pd
from sklearn.linear_model import LinearRegression
import nflfastpy as nfl
import re

In [3]:
yearly_url = 'https://raw.githubusercontent.com/fantasydatapros/data/master/yearly/{year}.csv'
start_year = 2013
end_year = 2020 # As of 6/22/22, the repository above only contains yearly data up to and including the 2020 season. 

yearly_df = pd.DataFrame()
for year in range(start_year, end_year+1):
    year_df = pd.read_csv(yearly_url.format(year=year))
    year_df['Season'] = year
    col_name = year_df.columns.tolist()
    col_name.pop()
    col_name.insert(0, 'Season')
    year_df = year_df[col_name]
    yearly_df = pd.concat([yearly_df, year_df])
yearly_df.drop(columns=['Unnamed: 0'], inplace=True)
print(yearly_df.shape)
yearly_df.head()

(4927, 21)

,Season,Player,Tm,Pos,Age,G,GS,Tgt,Rec,PassingYds,...,PassingAtt,RushingYds,RushingTD,RushingAtt,ReceivingYds,ReceivingTD,FantasyPoints,Int,Fumbles,FumblesLost
0,2013,Jamaal Charles,KAN,RB,27.0,15.0,15.0,104.0,70.0,0.0,...,0.0,1287.0,12.0,259.0,693.0,7.0,378.00,0.0,4.0,2.0
1,2013,Peyton Manning,DEN,QB,37.0,16.0,16.0,0.0,0.0,5477.0,...,659.0,-31.0,1.0,32.0,0.0,0.0,409.98,10.0,11.0,6.0
2,2013,LeSean McCoy,PHI,RB,25.0,16.0,16.0,64.0,52.0,0.0,...,0.0,1607.0,9.0,314.0,539.0,2.0,330.60,0.0,1.0,1.0
3,2013,Matt Forte,CHI,RB,28.0,16.0,16.0,95.0,74.0,0.0,...,0.0,1339.0,9.0,289.0,594.0,3.0,335.30,0.0,2.0,2.0
4,2013,Marshawn Lynch,SEA,RB,27.0,16.0,16.0,44.0,36.0,0.0,...,0.0,1257.0,12.0,301.0,316.0,2.0,275.30,0.0,4.0,1.0

In [4]:
# Attach scraped 2021 yearly season data to yearly_df 

year_2021_df = pd.read_csv('/Users/brandynklee/Python_Projects/fantasy_footballl_22/data/yearly_2021.csv')
year_2021_df['Season'] = 2021
year_2021_df = year_2021_df[col_name]

yearly_df = pd.concat([yearly_df, year_2021_df])
print(yearly_df.shape)
yearly_df.head()

(5598, 21)

,Season,Player,Tm,Pos,Age,G,GS,Tgt,Rec,PassingYds,...,PassingAtt,RushingYds,RushingTD,RushingAtt,ReceivingYds,ReceivingTD,FantasyPoints,Int,Fumbles,FumblesLost
0,2013,Jamaal Charles,KAN,RB,27.0,15.0,15.0,104.0,70.0,0.0,...,0.0,1287.0,12.0,259.0,693.0,7.0,378.00,0.0,4.0,2.0
1,2013,Peyton Manning,DEN,QB,37.0,16.0,16.0,0.0,0.0,5477.0,...,659.0,-31.0,1.0,32.0,0.0,0.0,409.98,10.0,11.0,6.0
2,2013,LeSean McCoy,PHI,RB,25.0,16.0,16.0,64.0,52.0,0.0,...,0.0,1607.0,9.0,314.0,539.0,2.0,330.60,0.0,1.0,1.0
3,2013,Matt Forte,CHI,RB,28.0,16.0,16.0,95.0,74.0,0.0,...,0.0,1339.0,9.0,289.0,594.0,3.0,335.30,0.0,2.0,2.0
4,2013,Marshawn Lynch,SEA,RB,27.0,16.0,16.0,44.0,36.0,0.0,...,0.0,1257.0,12.0,301.0,316.0,2.0,275.30,0.0,4.0,1.0

In [ ]:
yearly_df.to_csv('/Users/brandynklee/Python_Projects/fantasy_footballl_22/data/yearly_compiled_2013_2021.csv')

In [5]:
# Grab roster data from nflfastr

roster_url = 'https://raw.githubusercontent.com/nflverse/nflfastR-roster/master/data/seasons/roster_{year}.csv'
s_year = 2013
e_year = 2021
roster_df = pd.DataFrame()

for year in range(s_year, e_year+1):
     r_df = pd.read_csv(roster_url.format(year=year))
     r_df['Season'] = year
     col_name = r_df.columns.tolist()
     col_name.pop()
     col_name.insert(0, 'Season')
     r_df = r_df[col_name]
     roster_df = pd.concat([roster_df, r_df])
roster_df.drop(columns=['season'], inplace=True)
print(roster_df.shape)
roster_df.head()

(30970, 25)

,Season,team,position,depth_chart_position,jersey_number,status,full_name,first_name,last_name,birth_date,...,espn_id,yahoo_id,rotowire_id,pff_id,pfr_id,headshot_url,fantasy_data_id,sleeper_id,years_exp,sportradar_id
0,2013,ARI,C,NaN,72.0,CUT,Kyle Quinn,Kyle,Quinn,1990-02-09,...,NaN,NaN,NaN,8566.0,NaN,http://static.nfl.com/static/content/public/st...,NaN,NaN,NaN,NaN
1,2013,ARI,C,NaN,63.0,ACT,Lyle Sendlein,Lyle,Sendlein,1984-03-16,...,NaN,NaN,NaN,4062.0,SendLy20,http://static.nfl.com/static/content/public/st...,NaN,NaN,NaN,NaN
2,2013,ARI,C,NaN,68.0,CUT,Adam Bice,Adam,Bice,1989-06-30,...,NaN,NaN,NaN,8041.0,NaN,http://static.nfl.com/static/content/public/st...,NaN,NaN,NaN,NaN
3,2013,ARI,C,NaN,NaN,RSN,Philip Blake,Philip,Blake,1985-11-27,...,NaN,NaN,NaN,7108.0,BlakPh00,http://static.nfl.com/static/content/public/st...,NaN,NaN,NaN,NaN
4,2013,ARI,C,NaN,67.0,CUT,Deveric Gallington,Deveric,Gallington,1990-05-06,...,NaN,NaN,NaN,8563.0,NaN,http://static.nfl.com/static/content/public/st...,NaN,NaN,NaN,NaN

In [6]:
# Load snapcount data for seasons of 2013-2021 inclusive from scraped csv file.

snapcount_df = pd.read_csv('/Users/brandynklee/Python_Projects/fantasy_footballl_22/data/snapcount_compiled_2013_2021.csv')
snapcount_df.drop(columns=['Unnamed: 0'], inplace=True)
print(snapcount_df.shape)
snapcount_df.head()

(4544, 14)

,Season,Pos,Team,Name,G,Snaps,TeamSnaps,Snap%,Per Game,RushPerc,TargetP,TouchPerc,FP,FPPerSnap
0,2013,WR,DEN,Demaryius Thomas,16,1106,1207.0,91.63,69.13,0.0,12.84,12.84,227.0,0.21
1,2013,WR,BAL,Torrey Smith,16,1098,1136.0,96.65,68.63,0.0,12.48,12.48,138.8,0.13
2,2013,WR,GB,Jordy Nelson,16,1083,1122.0,96.52,67.69,0.0,11.73,11.73,179.4,0.17
3,2013,WR,CIN,AJ Green,16,1055,1132.0,93.20,65.94,0.0,16.87,16.87,208.6,0.20
4,2013,WR,DEN,Eric Decker,16,1050,1207.0,86.99,65.63,0.0,12.95,12.95,192.8,0.18

In [7]:
# As today's focus is on WR, we will be looking at air yards via play by play data from nflfastr (https://github.com/nflverse/nflfastR).
# Such data will be used to calculate the total amount of air yards per season per player. 

pbp_df = pd.DataFrame()
y1 = 2013
y2 = 2021

for year in range(y1, y2+1):
    yearly_pbp_df = nfl.load_pbp_data(year)

    yearly_pbp_df = yearly_pbp_df.loc[yearly_pbp_df['pass_attempt'] == 1] # Because we want to look at air yards, we only look at plays where a pass was attempted
    yearly_pbp_df = yearly_pbp_df.groupby('receiver_id', as_index=False)['air_yards'].sum()
    yearly_pbp_df['Season'] = year
    col_name = yearly_pbp_df.columns.tolist()
    col_name.pop()
    col_name.insert(0, 'Season')
    yearly_pbp_df = yearly_pbp_df[col_name]
    pbp_df = pd.concat([pbp_df, yearly_pbp_df])

print(pbp_df.shape)
pbp_df.head()

(4543, 3)

   Season receiver_id  air_yards
0    2013  00-0006101      964.0
1    2013  00-0015754      174.0
2    2013  00-0018956       -1.0
3    2013  00-0020337     1291.0
4    2013  00-0020494      641.0

In [8]:
def suffix_name_remove(full_name):
    return ' '.join(full_name.split()[0:2])

roster_wr_df = roster_df.loc[roster_df['position'] == 'WR', ['Season', 'full_name', 'gsis_id']]
roster_wr_df['full_name'] = roster_wr_df['full_name'].apply(suffix_name_remove)
count_dup_wr_df = roster_wr_df.groupby(['full_name', 'Season']).size() # groupby size() method allows to count number of unique values in a column in a given. 
count_dup_wr_df[count_dup_wr_df > 1]

full_name     Season
Chris Givens  2013      2
Chris Harper  2015      2
Joe Horn      2020      2
dtype: int64

In [12]:
# set snapcount and yearly to wr only; remove suffixes; rename player name column

yearly_wr_df = yearly_df.loc[yearly_df['Pos'] == 'WR']
snapcount_wr_df = snapcount_df.loc[snapcount_df['Pos'] == 'WR']

yearly_wr_df.loc[:,['Player']] = yearly_wr_df['Player'].apply(suffix_name_remove)
snapcount_wr_df.loc[:,['Name']] = snapcount_wr_df['Name'].apply(suffix_name_remove)


# yearly_wr_df['Player'] = yearly_wr_df['Player'].apply(suffix_name_remove) --- These two lines of code result in a SettingWithCopyWarning. This is because chained-indexing (making it difficult
# snapcount_wr_df['Name'] = snapcount_wr_df['Name'].apply(suffix_name_remove) - to tell whether a view or a copy is returned) has been detected but that does not mean the code ran incorrectly

snapcount_wr_df = snapcount_wr_df.rename({
    'Name':'Player'
}, axis=1)
roster_wr_df = roster_wr_df.rename({
    'full_name':'Player'
}, axis=1)

In [14]:
roster_wr_df = roster_wr_df.loc[roster_wr_df['Player'] != 'Chris Givens']
roster_wr_df = roster_wr_df.loc[roster_wr_df['Player'] != 'Chris Harper']
roster_wr_df = roster_wr_df.loc[roster_wr_df['Player'] != 'Joe Horn']
yearly_wr_df = yearly_wr_df.loc[yearly_wr_df['Player'] != 'Chris Givens']
yearly_wr_df = yearly_wr_df.loc[yearly_wr_df['Player'] != 'Chris Harper']
yearly_wr_df = yearly_wr_df.loc[yearly_wr_df['Player'] != 'Joe Horn']
snapcount_wr_df = snapcount_wr_df.loc[snapcount_wr_df['Player'] != 'Chris Givens']
snapcount_wr_df = snapcount_wr_df.loc[snapcount_wr_df['Player'] != 'Chris Harper']
snapcount_wr_df = snapcount_wr_df.loc[snapcount_wr_df['Player'] != 'Joe Horn']

In [16]:
roster_wr_df['Player'] = roster_wr_df['Player'].str.lower()
yearly_wr_df['Player'] = yearly_wr_df['Player'].str.lower()
snapcount_wr_df['Player'] = snapcount_wr_df['Player'].str.lower()

roster_wr_df['Player'] = roster_wr_df['Player'].str.replace('.','', regex=True)
yearly_wr_df['Player'] = yearly_wr_df['Player'].str.replace('.','', regex=True)
snapcount_wr_df['Player'] = snapcount_wr_df['Player'].str.replace('.','', regex=True)

At this point, we have compiled and largely cleaned up all the dataframes for consistency and ease in analysis. Now, we must find duplicate columns between snapcount and yearly stats data and drop the redudant columns. Then the roster, yearly stats, snapcount, and play by play dataframe will all be joined before analysis can be started.